img {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  animation: loading-image 1s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  max-width: 100%;
  height: auto;
}

@keyframes loading-image {
  100% {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

